@import "~bulma/sass/utilities/initial-variables";

// Config vars
// Kaldi logo brand color: #FD461E
$main-color: #114177;
$highlight-color: #fff;

// Navbar config
$navbar-height: 4.5rem;
$navbar-item-img-max-height: 4.5rem;

$primary: $main-color;
$primary-invert: $highlight-color;
$body-color: #333;
$black: #2b2523;
