.MenuList {
  .TelLink {
    padding: 0;

    &:hover, &:active, &:focus {
      color: darken(#fff, 30%) !important;
    }
  }
}

.AttributionContainer {
  padding: 0 1rem 0.5rem;
  text-align: right;
  font-size: 0.625rem;
}